# ==========================
# Python Cache / Build Files
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# ==========================
# Virtual Environments
# ==========================
.env
.env.local
.venv
venv

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ==========================
# Project Data Files
# ==========================
data/*.csv
data/*.db
data/*.sqlite
data/*.json
data/news.db

# Allow only example empty file
!data/.gitkeep

# ==========================
# Logs
# ==========================
*.log
logs/
airflow/logs/

# ==========================
# SQLite Databases
# ==========================
*.db
*.sqlite3

# ==========================
# Airflow Specific
# ==========================
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/
airflow/plugins/
airflow/*.pid

# ==========================
# Docker
# ==========================
*.pid
docker-compose.override.yml

# ==========================
# VSCode
# ==========================
.vscode/
.history/

# ==========================
# macOS
# ==========================
.DS_Store
.AppleDouble
.LSOverride

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Other
# ==========================
*.tmp
*.bak
*.swp
.vscode/
